$(function(){

	let $formModal = $('#form-modal-valores');

	<% if @insumo.errors.none? %>
		$('#form-modal-valores-titulo').html('<h3><i class="fa fa-file"></i> Editar Insumo</h3>');
		$('#form-modal-valores-corpo').html('<%= j render("form_valores", hide_buttons: true) %>');
		//$('#form-modal').modal('show');
		$formModal.modal();
		
	<% else %>
		$('#form-modal-valores-error').html('<div class="alert alert-danger">Corrija os erros abaixo:</div>');
		$('#form-modal-valores-corpo').html('<%= j render("form_valores", hide_buttons: true) %>');
	<% end %>

});