<% content_for :breadcrumbs do %>
	<span class="breadcrumb-item active">Não autorizado</span>	
<% end %>

<% content_for :titulo do %>
	<div class="sh-pagetitle-icon"><i class="icon ion-alert-circled mg-t-3"></i></div>
	<div class="sh-pagetitle-title">
	  <span></span>
	  <h2>Não Autorizado</h2>
	</div><!-- sh-pagetitle-left-title -->
<% end %>


