
<br/>

<form id="form-dados">

  <div class="panel-body">

  <p>
    <h5>
       Selecione os estados a contratados
    </h5>
  </p>
  
  <br/>

  <div class="row">
    <div class="col-lg-2">    
      <strong>
        NORTE
      </strong>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-ac" value="AC">
      <label class="form-check-label" for="check-ac">AC</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-ap" value="AP">
      <label class="form-check-label" for="check-ap">AP</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-am" value="AM">
      <label class="form-check-label" for="check-am">AM</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-pa" value="PA">
      <label class="form-check-label" for="check-pa">PA</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-ro" value="RO">
      <label class="form-check-label" for="check-ro">RO</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-to" value="TO">
      <label class="form-check-label" for="check-to">TO</label>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-lg-2">    
      <strong>
        NORDESTE
      </strong>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-al" value="AL">
      <label class="form-check-label" for="check-al">AL</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-ba" value="BA">
      <label class="form-check-label" for="check-ba">BA</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-ce" value="CE">
      <label class="form-check-label" for="check-ce">CE</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-ma" value="MA">
      <label class="form-check-label" for="check-ma">MA</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-pb" value="PB">
      <label class="form-check-label" for="check-pb">PB</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-pe" value="PE">
      <label class="form-check-label" for="check-pe">PE</label>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-se" value="SE">
      <label class="form-check-label" for="check-se">SE</label>
    </div>  
  </div>

  <br/>

  <div class="row">
    <div class="col-lg-2">    
      <strong>
        CENTRO-OESTE
      </strong>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-df" value="DF">
      <label class="form-check-label" for="check-df">DF</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-go" value="GO">
      <label class="form-check-label" for="check-go">GO</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-mt" value="MT">
      <label class="form-check-label" for="check-mt">MT</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-ms" value="MS">
      <label class="form-check-label" for="check-ms">MS</label>
    </div>  
  </div>
  
  <br/>
  
  <div class="row">
    <div class="col-lg-2">    
      <strong>
        SUDESTE
      </strong>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-es" value="ES">
      <label class="form-check-label" for="check-es">ES</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-mg" value="MG">
      <label class="form-check-label" for="check-mg"><span style="font-size: 13px;">MG</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-rj" value="RJ">
      <label class="form-check-label" for="check-rj">RJ</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-sp" value="SP">
      <label class="form-check-label" for="check-sp">SP</label>
    </div>  
  </div>

  <br/>

  <div class="row">
    <div class="col-lg-2">    
      <strong>
        SUL
      </strong>
    </div>  
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-pr" value="PR">
      <label class="form-check-label" for="check-pr">PR</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-rs" value="RS">
      <label class="form-check-label" for="check-rs">RS</label>
    </div>
    <div class="col-lg-1">
      <input class="form-check-input" type="checkbox" id="check-sc" value="SC">
      <label class="form-check-label" for="check-sc">SC</label>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-lg-2">
      <strong>Nº Licenças</strong>
    </div>
    <div class="col-lg-4">
      <select class="form-control" id="numero-licencas">
        <% for i in 2..100 do %>
          <option><%= i %></option>
        <% end %>
      </select>
    </div>
    
  </div>

  <br/>

  <div class="row">
    <center>
      <button type="button" class="btn btn-default" id="btn-limpar">Limpar</button>
    </center>
  </div>

</form>

</div>
