<% content_for :breadcrumbs do %>
  <span class="breadcrumb-item active">Empresas</span>  
<% end %>

<% content_for :titulo do %>
  <div class="sh-pagetitle-icon"><i class="fa fa-industry"></i></div>
  <div class="sh-pagetitle-title">
    <span></span>
    <h2>Empresas <%= link_to link_icone("nova"), new_empresa_path, class: "btn btn-success", title: "Nova Empresa", remote: true %></h2>
  </div><!-- sh-pagetitle-left-title -->
<% end %>


<% content_for :search do %>
  <%= simple_form_for(:pesquisa, url: empresas_path, :method=>"get", remote: true) do |f| %>
    <div class="row">        
      <%= f.input :conteudo, label: false, placeholder: "Nome ou CNPJ", input_html: {class: "form-control"} %>
      <button type="submit" class="btn">
        <i class="fa fa-search"></i>
      </button>        
      <div class="col-lg-2">
      </div>  
    </div>
  <% end %>      
<% end %>

<div class="empresas">
  <% if :hide_buttons != true %>
    <%= render partial: "empresas" %>
  <% end %>
</div>

<div class="modal hide fade in" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20" id="form-modal-titulo">

      </div>
      <div id="form-modal-error">
      </div>
      <div class="modal-body pd-20" id="form-modal-corpo">
        
      </div><!-- modal-body -->
      
    </div>
  </div><!-- modal-dialog -->
</div><!-- modal -->



