<% content_for :breadcrumbs do %>
	<a class="breadcrumb-item" href="<%= empresas_path %>">Empresas</a>
  <span class="breadcrumb-item active">Nova</span>	
<% end %>

<% content_for :titulo do %>
	<div class="sh-pagetitle-icon"><i class="fa fa-industry"></i></div>
	<div class="sh-pagetitle-title">
	  <span></span>
	  <h2>Nova Empresa</h2>
	</div><!-- sh-pagetitle-left-title -->
<% end %>

<%= render 'form' %>
