<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SBC</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <% if user_signed_in? %>
  	<%= render 'layouts/logado' %>
  <% else %>
  	<%= render 'layouts/deslogado' %>
  <% end %>


</html>